.wrap{
    width: 1200px;
    margin: 400px auto;
}
.box{
    width: 150px;
    height: 150px;
    background-color: powderblue;
    animation-name: box;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box {
    0%{
        transform: translateY(-200px);
        background-color: powderblue;
    }
    25%{

    }
    50%{

    }
    75%{

    }
    100%{

    }
}
